<!
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--
th:action   ścieżka przed którą doklejne zostanie localhost:{port}  pustania nie uzupełniona <form(formularz htlm) html

th:object    obiekt przekazywany w postaci modelu w metodzie createOrderForm

th:field    pozwala wpisane dane wysłać do obiektu th:object

 Złóż zamówienie   zatwierdzenie guzika wysyła powyżej wpisane dane do  th:action="@{/order/save}
-->
<form method="post" th:action="@{/order/save}" th:object="${emptyOrder}" >


    <label>
        Nazwa produktu:
        <input type="text" th:field="*{productName}"/>
    </label>

    <label>
        Ilość produktów:
        <input type="number" th:field="*{amount}"/>
    </label>

    <button type="submit">
        Złóż zamówienie
    </button>


</form>


</body>
</html>